

.mycontainer1 {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: gray;
	border-radius: 30px;

}
.mycontainer1 .mybtn1 {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mycontainer1 .mybtn1 a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.mycontainer1 .mybtn1:hover a {
	letter-spacing: 3px;
}
.mycontainer1 .mybtn1 a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.mycontainer1 .mybtn1:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.mycontainer1 .mybtn1::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.mycontainer1 .mybtn1:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.mycontainer1 .mybtn1::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.mycontainer1 .mybtn1:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.mycontainer1 .mybtn1::before, /*chnage 1*/
.mycontainer1 .mybtn1::after {
	background: black;
	box-shadow: 0 0 5px black, 0 0 15px black, 0 0 30px black,
		0 0 60px black;
}
